
.inp-note, .inp-comment, .loading, .btn-menu, .edit-post, .edit-comment, .comment-hide{
	display: none;	
}

textarea{
	resize: vertical; 
}
.no-margin{
	margin: 0px;
}
.img-avatar{
	width: 50px;
	height: 50px;
	float: left
}
.img-avatar-sm{
	width: 40px;
	height: 40px;
	float: left;
}

.btn-tooltip{
	cursor: pointer;
	color: #383D48;
}

.icon-unread{
	margin-top: 5px;
	margin-right: -10px;
}


.page-header{
	display: block !important;
	margin-top: 0px;
}

@media (min-width: 1200px){
	#nick-wrap{
		padding-left: 0px
	}
}
.content-li > li:hover{
	background: #F3F5F7;
}.content-li > li a{
	color: #3784D3;
}
.no-shadow{
	box-shadow: none !important;
	border: 1px solid #C7CAD3;
} untuk tampilan posting
.message-footer {
	clear: both;
	overflow: hidden;
	background: #f3f5f6;
	border-top: 1px solid #e0e3e7;
	margin-top: 17px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	padding: 10px 20px 10px 90px;
	height: 50px;
	margin-top: 0px;
	box-shadow: 0 1px 5px 0 rgba(56,61,72,0.21);
}

.btn-tugas-wrap{
	margin-top: 5px;
	padding: 10px;
	border: 1px solid #bdc3c7;
	border-radius: 3px;
}

/*file button*/
.fileUpload {
	position: relative;
	overflow: hidden;
	margin-top: -1px;
	/*margin: 10px;*/
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*main-component*/
.post{
	margin: 0px;
	border-top: 0px;
	color: black;
}
ul li{
	list-style-type: none;
}
.li-post{
	margin-bottom: 20px;
}

.blue{
    color: #2980b9 !important;
}
.red{
  color: #c0392b !important;
}
.green{
  color: #16a085 !important;
}
.grey{
	color: #383D48 !important;
}
.white{
	color: white;
}
.purple{
	color: #74589C;
}
.bold{
	font-family: Segoe UI;
}

.bolder{
	font-weight: bold;
}


.small{
	font-weight: lighter;
	font-size: 12px;
}

.col-md-4{
  /*border: 1px solid black;
}

/*box*/
.box{
  position: relative;
  min-height: 1px;
  padding: 10px 15px;
  padding-bottom: 10px;
  color: white;
  margin-bottom: 20px;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
          box-shadow: 0 1px 5px 0 rgba(56,61,72,0.21);
}

.box-header .content{
  background: #fff;
}

.panel-title, .alert{
  color: #fff;
}

.alert i{
  color: rgba(0,0,0,0.3);
  font-size: 20px;
  margin-right: 2px;
}

.box-white{
  background: #fff;
  color: black;
}
.box-green, .panel-green, .alert-green{
  background: #19B698;
}
.box-purple, .panel-purple, .alert-purple{
  background: #7761A7;
}
.box-blue, .panel-blue, .alert-blue{
  background: #4AA3DF;
}
.box-red, .panel-red, .alert-red{
  background: #EA6153;
}
.box-orange, .panel-orange, .alert-orange{
  background: #F16E3F;
}
.panel-dark, .alert-dark, .box-dark, .label-dark{
  background: #383A41;
}
.box-grey{
	background: #F3F5F6;
}

/*smalll box*/
.small-box{
  position: relative;
  display: block;
  color: #fff;
  margin-bottom: 20px;
}
.small-box h3{
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
  padding-left: 10px;
  padding-top: 10px;
}
.small-box p{
  font-size: 15px;
  padding-left: 10px;
}
.small-box .icon{
  position: absolute;
  top: auto;
  bottom: 10px;
  right: 5px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box > .small-box-footer{
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}

/*button*/
.btn-dark {
  color: #ffffff;
  background-color: #383A41;
  border-color: #383A41;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #ffffff;
  background-color: #1F1F1F;
  border-color: #1F1F1F;
}

.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none;
}

.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
  background-color: #1F1F1F;
  border-color: #1F1F1F;
}