
.form.form-quiz{
  min-height: 1px;
  box-shadow: 0 1px 5px 0 rgba(56,61,72,0.21);
  background: #fff;
  color: #000;
}

.form .header-quiz{
	padding:15px;
	border-bottom: 1px solid #DFE4E8;
}
.form .quiz-assign,.form .about-quiz{
	padding:15px;
}
.form .quiz-divider{
border-bottom: 1px solid #DFE4E8;
border-top: 1px solid #DFE4E8;
clear: both;
height: 3px;
margin: 10px 0;
}

.form .content-quiz{
	/*margin-right:-15px;*/
	border-right:1px solid #DFE4E8;
}
.form .sidebar-quiz{
	/*margin-left:-15px;*/
}
.form .main-quiz{
	background:#F3F5F7;
}
.form .main-quiz-question{
	background:#fff;
	min-height:300px;
	border-left:1px solid #DFE4E8;
	padding-bottom: 20px;
}

.form .main-quiz-header{
	background:#F3F5F7;
	margin-left: -15px;
	padding:10px;
}
.form .main-quiz-menu{
	/*margin-left:10px;*/
	/*
	padding:0 15px;
	margin-right: -15px;
	margin-left: 5px;*/
}
.form .menu-question-number{
	padding:0;
}
.form .menu-question-number li{
	padding:0;
}
.form .menu-question-number li.active a{
	background: #4574A9;
	color: #fff;
}
.form .menu-question-number li a{
	display: block;
	padding: 5px 10px;
}

.form .menu-question-number li a:hover{
	color:#000;
}

.form .menu-question-number li.active a:hover{
	color:#fff;
}

.form .title-menu-question{
	padding: 10px;
}
.form .menu-btn{
	padding-left:10px;
}

.form .question-area{
	padding-bottom:10px;
	border-bottom: 1px solid #DFE4E8;
}

.action-group ul{
	margin-bottom: -10px;
	margin-top: 10px;
	margin-left:-15px;
	margin-right: -15px;
}


.action-group a{
	display:block;
}

.action-group li:first-child{
	/*border-top-width:0;*/
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.action-group li{
	border-left-width:0;
	border-right-width:0;
	border-bottom-width: 0;
}

.action-group li .fa{
	color:#777A80;
	margin-right: 10px;
}
.action-group li .fa.fa-chevron-right{
	float: right;
	margin-right: 0;
}


.action-group ul.content-li-menu{
	margin-top: -10px;
}
.action-group ul.content-li-menu li:first-child{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color:#ddd;
}


.box.no-top-radius{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
