/*.tooltip.right {
    margin-top:8px;
}
.tooltip.right .tooltip-arrow{
	top: 7%;
	margin-top:0;
}
    
    
.tooltip.top .tooltip-arrow{
	left: 6%;
   	bottom:1px;
}*/

 .popSourceBlock {
	display:none;
}