.portlet{
	background-color: white;
	padding: 20px;
	border: solid 1px $navbar-border;
	margin-top: 10px;
	margin-bottom: 10px;
	h1, h2, h3, h4, h5{
		margin-top: 0px;
	}
	
	.loading{
			background: none repeat scroll 0 0 rgba(255, 255, 255, .7);
		    cursor: wait;
		    display: none;
		    height: 100%;
		    left: 0;
		    position: absolute;
		    top: 0;
		    width: 100%;
		    
		    i{
		    	font-size: 26px;
			    left: 50%;
			    margin-left: -13px;
			    margin-top: -13px;
			    position: relative;
			    top: 50%;
		    }
		}

	.control{
		top: 30px;
		position: absolute;
		right: 40px;
		list-style-type: none;
		display: inline;
		li{
			float: right;
			margin-left: 10px;
			a{
				background: none;
				margin: 0px !important;
				padding: 0px !important;
				.fa{
					font-size: 9pt !important;
					color: #222;
				}
				&:hover{
					.fa{
						color: grey;
						transition: all .2s;
					}
				}
			}
		}
	}
}

.portlet-redor{
	background-color: $red-orange-flat;
}

.portlet-green{
	background-color: $green-success;
}

.portlet-malibu{
	background-color: $malibu-flat;
}

.portlet-orange{
	background-color: $orange-flat;
}

.portlet-warning{
	background-color: $orange-warning;
}

.portlet-blue{
	background-color: $malibu-flat;
}

.portlet-dark{
	background-color: $dark;
}

.portlet-redor, .portlet-green, .portlet-malibu, .portlet-orange, .portlet-warning, .portlet-blue, .portlet-dark{
	color: white;
	.control{
		li{
			a{
				.fa{
					font-size: 9pt !important;
					color: white;
				}
				&:hover{
					.fa{
						color: white;
						transition: all .2s;
					}
				}
			}
		}
	}
}