.tile{
	.content{
		margin: 20px;
		font-weight: 300;
		h1, h2, h3, h4, h5{
			font-weight: 300;
			margin: 0px;
			margin-bottom: 20px;
			small{
				font-weight: 400;
				font-size: 10pt;
			}
		}
	}
	border: solid 1px $navbar-border;
	background-color: white;
	margin-bottom: 20px;
	a{
		clear: both;
	    color: #fff;
	    display: block;
	    padding: 10px 20px;
	    text-transform: uppercase;
	    .fa{
	    	font-size: 14pt;
	    	opacity: .5;
	    }
	    &:hover{
	    	text-decoration: none;
	    	background-color: #222222;
			opacity: 0.9;
			transition: all .5s;
	    }
		&.orange{
			background-color: $orange-flat;
		}
		&.green{
			background-color: $green-flat;
		}
		&.redor{
			background-color: $red-orange-flat;
		}
		&.malibu{
			background-color: $malibu-flat;
		}
	}
}