body {
	padding-top: 100px;
	line-height: 1.6em;
}
.nav-custom {
	background: #fff;
	min-height: 100px;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}
.nav-custom .navbar-brand {
	height: 100px;
	line-height: 100px;
	font-family: "Oswald", sans-serif;
	font-size: 60px;
	font-weight: 400;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	color: #0683c9;
	padding: 0;
}
.nav-custom .navbar-nav > li > a {
	color: #0683c9;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	line-height: 70px;
}
.nav-custom .navbar-nav > li > a:hover {
	color: #3cb5f9;
}
.smaller .nav-custom {
	min-height: 60px;
	box-shadow: 0 2px 5px #a5a5a5;
}
.smaller .nav-custom .navbar-brand {
	width: 100px;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
}
.smaller .nav-custom .navbar-nav > li > a {
	line-height: 30px;
}
.nav-custom .navbar-brand {
	margin: 0;
}
.wrapper {
    border-top: 1px solid #ccc;
    position: relative;
	margin-bottom: 1em;
}
.wrap-title {
    background-color: #fff;
    display: block;
    float: left;
    margin-top: -12px;
    padding-right: 20px;
}
.wrap-body {
    padding-top: 3em;
    padding-bottom: 3em;
}
.text-title {
    margin-top: 0;
    text-transform: uppercase;
	color: #0683c9;
}

.swiper-container {
    color: white;
	height: 450px;
	width: 100%;
	margin-bottom: 3em;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	background-color: #777;
}
.wrap-title > .text-title {
    font-size: 2rem;
    margin-bottom: 0;
}
.news > .text-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: capitalize;
	color: inherit;
}
.flex {
	display: flex;
}
.flex-cell {
	flex: 1 1 0;
}
.font-orange {
    color: #ee510a;
}

footer {
	padding: 10px 0;
	border-top: 1px solid #ccc;
}
@media all and (max-width: 680px) {
	body {
		padding-top: 60px;
	}
	.nav-custom {
		min-height: 60px;
		background-color: #ddd;
	}
	.nav-custom .navbar-brand {
		display: block;
        float: none;
        height: 60px;
        line-height: 60px;
		font-size: 30px;
		padding-left: 1em;
	}
	.nav-custom .navbar-nav > li > a {
        line-height: 50px;
        margin: 0 10px;
	}
	.nav-custom .navbar-nav > li > a:hover {
		color: #3cb5f9;
	}
    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
}