article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
html {
    font-size: 100%;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}


body {
    background-color: #fff;
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

.container-fluid:after {
    clear: both;
}

.container-fluid:before, .container-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}

.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

.wrap-fluid:before, .wrap-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}

.wrap-fluid:after {
    clear: both;
}

.wrap-fluid [class*="span"] {
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.5641%;
    min-height: 30px;
    width: 100%;
}

.wrap-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.wrap-fluid {
    width: 100%;
}

.wrap-fluid .span12 {
    width: 100%;
}

.wrap-fluid .span11 {
    width: 91.453%;
}

.wrap-fluid .span10 {
    width: 82.906%;
}

.wrap-fluid .span9 {
    width: 74.359%;
}

.wrap-fluid .span8 {
    width: 65.812%;
}

.wrap-fluid .span7 {
    width: 57.265%;
}

.wrap-fluid .span6 {
    width: 48.7179%;
}

.wrap-fluid .span5 {
    width: 40.1709%;
}

.wrap-fluid .span4 {
    width: 31.6239%;
}

.wrap-fluid .span3 {
    width: 23.0769%;
}

.wrap-fluid .span2 {
    width: 14.5299%;
}

.wrap-fluid .span1 {
    width: 5.98291%;
}

.clearfix {
    clear: both;
    float: none;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.nabsen, .absen {
	width: 100px;
	text-align: center;
	color: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
	font-size: 24px;
	margin: 8px;
	box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.35) inset;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
}

.absen {
	background-color: #5692b7;
	background-image: -moz-linear-gradient(45deg, #5692b7 0%, #135486 100%);
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#5692b7), color-stop(100%,#135486));
	background-image: -webkit-linear-gradient(45deg, #5692b7 0%,#135486 100%);
	background-image: -o-linear-gradient(45deg, #5692b7 0%,#135486 100%);
	background-image: -ms-linear-gradient(45deg, #5692b7 0%,#135486 100%);
	background-image: linear-gradient(45deg, #5692b7 0%,#135486 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5692b7', endColorstr='#135486',GradientType=1 );
	padding: 24px 0;
}

.nabsen {
	background-color: #e3680f;
	padding: 8px 0;
	line-height: 26px;
}

.media {
    padding-top: 15px;
	overflow: hidden;
}

.media.pimpinan {
	padding-top: 8px;
}

.media > .pull-left {
    margin-right: 10px;
}

.media > .pull-right {
    margin-left: 10px;
}

.thumbnail, .mini-thumb {
	background-color: #eeeeee;
	background-image: -moz-linear-gradient(top, #eeeeee 0%, #d1cfcf 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d1cfcf));
	background-image: -webkit-linear-gradient(top, #eeeeee 0%,#d1cfcf 100%);
	background-image: -o-linear-gradient(top, #eeeeee 0%,#d1cfcf 100%);
	background-image: -ms-linear-gradient(top, #eeeeee 0%,#d1cfcf 100%);
	background-image: linear-gradient(to bottom, #eeeeee 0%,#d1cfcf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d1cfcf',GradientType=0 );
	border: 1px solid #e3e3e3;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35) inset;
}

.thumbnail {
	margin-top: 10px;
}

.thumbnail .media-heading {
	font-size: 24px;
	margin: 10px 0 3px;
	line-height: 40px;
}

.thumbnail .jabatan {
	color: #135486;
	font-size: 20px;
	margin-bottom: 10px;
}

.mini-thumb {
	margin-top: 6px;
}

.mini-thumb .nabsen,
.mini-thumb .absen {
	width: 90px;
	margin: 4px;
}

.mini-thumb .nabsen {
	font-size: 18px;
	line-height: 22px;
}

.mini-thumb .absen {
	font-size: 18px;
	padding: 20px 0;
}

.mini-thumb .media-heading {
	font-size: 18px;
	margin: 13px 0 6px;
}

.mini-thumb .jabatan {
	color: #135486;
	font-size: 14px;
	margin-bottom: 10px;
}

.img-large{
	width: 88px;
	height: 100px;
	border-radius: 8px;
}

.img-small {
	border-radius: 8px;
	width: 71px;
	height: 80px;
}

.img-rounded {
	border-radius: 10px;
	border: 2px solid #1f5484;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.header {
	background-color: #98bede;
	background-image: -moz-linear-gradient(top, #98bede 0%, #deefff 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98bede), color-stop(100%,#deefff));
	background-image: -webkit-linear-gradient(top, #98bede 0%,#deefff 100%);
	background-image: -o-linear-gradient(top, #98bede 0%,#deefff 100%);
	background-image: -ms-linear-gradient(top, #98bede 0%,#deefff 100%);
	background-image: linear-gradient(to bottom, #98bede 0%,#deefff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98bede', endColorstr='#deefff',GradientType=0 );
	-webkit-box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2) inset;
}

.header .logo {
	background: url('../img/logo.png') no-repeat left center;
	text-indent: -9999em;
	width: 473px;
	height: 95px;
	display: block;
	padding: 15px 0;
	margin-left: 50px;
}

.navigation {
	background-color: #1484ce;
	background-image: -moz-linear-gradient(top, #1484ce 0%, #1274b5 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1484ce), color-stop(100%,#1274b5));
	background-image: -webkit-linear-gradient(top, #1484ce 0%,#1274b5 100%);
	background-image: -o-linear-gradient(top, #1484ce 0%,#1274b5 100%);
	background-image: -ms-linear-gradient(top, #1484ce 0%,#1274b5 100%);
	background-image: linear-gradient(to bottom, #1484ce 0%,#1274b5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1484ce', endColorstr='#1274b5',GradientType=0 );
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 2px 0 #0e5a8c;
	-webkit-box-shadow: 0 2px 0 #0e5a8c;
	box-shadow: 0 2px 0 #0e5a8c;
	color: #f2f2f2;
	margin-bottom: 5em;
}

.navigation > h3 {
    text-align: center;
	margin: 0;
	padding: 7px 0;
	font-size: 28px;
	line-height: 40px;
	text-shadow: 1px 1px #333;
}

.footFrame {
    background-color: #135486;
}

.footFrame p,
.footFrame #clock {
	margin: 20px 0 18px;
	font-size: 16px;
}

.footFrame #clock {
	text-align: right;
	font-weight: bold;
	font-size: 20px
}

.container-fluid-1 .span10{
	padding-left: 10%;
	width: 72.906%;
	color: #fff;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
}

.container-fluid-1 .span2{
	padding-right: 10%;
	width: 24.5299%;
	background-color: #fe8c1a;
}

.gray {
	border-color: #fe8c1a;
}

.gray > img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%); -o-filter: grayscale(100%);
	filter: url(filter.svg#greyscale);
	filter: gray;
	-webkit-filter: grayscale(1);
}
body, html {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4.5em;
}

.footFrame, .push {
	height: 4.5em;
	clear: both;
}