.legenda {
    margin-bottom: 15px;
}
.margin {
    margin-right: 10px;
}
.bx-wrapper {
    margin-bottom: 0;
}
.bx-wrapper .bx-viewport {
	box-shadow: none;
	border: none;
	left: 0;
}
.label {
	font-size: 90%;
}
.label-success {
	background-color: #468847;
}
.label-warning {
	background-color: #F89406;
}
.group {
	padding: 15px 0;
	border-bottom: 1px solid #dddddd;
}
.navbar {
    min-height: 40px;
}
.navbar-brand {
    font-size: 20px;
	padding: 10px 20px
}
.navbar-ptiik  { background-color:#3b3b3b;background-image:-moz-linear-gradient(top, #333333, #444444);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#444444));background-image:-webkit-linear-gradient(top, #333333, #444444);background-image:-o-linear-gradient(top, #333333, #444444);background-image:linear-gradient(to bottom, #333333, #444444);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff444444', GradientType=0); border-color: #080808; }
.navbar-ptiik .navbar-brand {
    color: #999999;
}
.navbar-ptiik .navbar-brand:hover,.navbar-ptiik .nav>li>a:hover,.navbar-ptiik .navbar-brand:focus,.navbar-ptiik .nav>li>a:focus{color:#ffffff;}

#slideshow .carousel-indicators li {
	background-color: #428BCA;
}
#slideshow .carousel-indicators {
    bottom: -20px;
}
.panel-body {
	font-size: 110%;
	background:none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#slideshow {
	margin-top:8%;
	/*box-shadow:  rgba(0, 0, 0, 0.3);*/
}
	
