/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm-mega-menu .nav,
.yamm-mega-menu .collapse,
.yamm-mega-menu .dropup,
.yamm-mega-menu .dropdown {
  position: static;
}
.yamm-mega-menu .container {
  position: relative;
}
.yamm-mega-menu .dropdown-menu {
  left: auto;
}
.yamm-mega-menu .yamm-mega-menu-content {
  padding: 20px 30px;
}
.yamm-mega-menu .dropdown.yamm-mega-menu-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.yamm-mega-menu .dropdown.yamm-mega-menu-fw.ltr .dropdown-menu {
  left: 25%;
}
.yamm-mega-menu .dropdown.yamm-mega-menu-fw.rtl .dropdown-menu {
  right: 25%;
}