.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.responsive-slider-parallax {
  max-width: 100%;
  position: relative;
}
.responsive-slider-parallax .slides-container {
  position: relative;
  overflow: hidden;
  background-image: url(../img/coba.jpg);
  background-size: cover;
  background-position: 0 0;
  cursor: url(../img/openhand.cur.bmp) 4 4, move;
}
.responsive-slider-parallax .slides-container.drag {
  cursor: url(../img/closedhand.cur.bmp) 4 4, move;
}
.responsive-slider-parallax .slides-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-size: 0;
}
.responsive-slider-parallax .slides-container ul li {
  display: inline-block;
  width: 100%;
}
.responsive-slider-parallax .slides-container ul li .slide-body {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 380px;
  font-size: 14px;
}
.responsive-slider-parallax .slides-container ul li .slide-body img {
  max-width: 100%;
}
.responsive-slider-parallax .slides-container ul li .slide-body .container {
  height: 100%;
}
.responsive-slider-parallax .slides-container ul li .slide-body .container .wrapper {
  position: relative;
  height: 100%;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption {
  position: absolute;
  color: #fff;
  text-shadow: 0px 1px 0px #000000;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.header {
  top: 28%;
  left: 8%;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 {
  font-size: 40px;
  background: #FF6600;
  padding: 0 3px 0 3px;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 i {
  font-size: 35px;
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 {
    font-size: 25px;
    line-height: 25px;
  }
  .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 i {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 {
    font-size: 16px;
    line-height: 16px;
  }
  .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 i {
    font-size: 14px;
  }
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.sub {
  bottom: -8px;
  right: -20px;
  font-weight: bold;
  font-family: 'Cuprum', sans-serif;
  color: #000000;
  text-shadow: 0px 1px 0px #ffffff;
  padding: 0 3px 0 3px;
  background: #ffffff;
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-slider-parallax .slides-container ul li .slide-body .caption.sub {
    font-size: 11px;
    line-height: 11px;
    bottom: 0px;
    right: -10px;
  }
}
@media (max-width: 480px) {
  .responsive-slider-parallax .slides-container ul li .slide-body .caption.sub {
    font-size: 10px;
    line-height: 10px;
    bottom: 0px;
    right: 0;
  }
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.img-html5 {
  top: 12%;
  right: 8%;
  width: 30%;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.img-html5 img {
  max-width: 100%;
}
@media (min-width: 481px) and (max-width: 767px) {
  
}
@media (max-width: 480px) {
  
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.img-css3 {
  top: 58%;
  right: 12%;
  width: 10%;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.img-css3 img {
  max-width: 100%;
}
@media (min-width: 481px) and (max-width: 767px) {
  
}
@media (max-width: 480px) {
  
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.img-bootstrap {
  top: 56%;
  right: 12%;
  width: 11%;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.img-bootstrap img {
  max-width: 100%;
}
@media (min-width: 481px) and (max-width: 767px) {
  
}
@media (max-width: 480px) {
  
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.img-twitter {
  top: 20%;
  right: 12%;
  width: 11%;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.img-twitter img {
  max-width: 100%;
}
@media (min-width: 481px) and (max-width: 767px) {
  
}
@media (max-width: 480px) {
  
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.img-jquery {
  top: 55%;
  right: 12%;
  width: 33%;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.img-jquery img {
  max-width: 100%;
}
@media (min-width: 481px) and (max-width: 767px) {
  
}
@media (max-width: 480px) {
  
}
@media (min-width: 1200px) {
  .responsive-slider-parallax .slides-container ul li .slide-body {
    height: 480px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .responsive-slider-parallax .slides-container ul li .slide-body {
    height: 300px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-slider-parallax .slides-container ul li .slide-body {
    height: 220px;
  }
}
@media (max-width: 480px) {
  .responsive-slider-parallax .slides-container ul li .slide-body {
    height: 150px;
  }
}
.responsive-slider-parallax .slider-control {
  position: absolute;
  font-size: 40px;
  color: #000;
  top: 40%;
  background-color: #fff;
  padding: 10px;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.responsive-slider-parallax .slider-control.left {
  left: 10px;
  padding-left: 7px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.responsive-slider-parallax .slider-control.left:hover {
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
.responsive-slider-parallax .slider-control.right {
  right: 10px;
  padding-right: 7px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.responsive-slider-parallax .slider-control.right:hover {
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .responsive-slider-parallax .slider-control.left,
  .responsive-slider-parallax .slider-control.right {
    display: none;
  }
}
.responsive-slider-parallax .pages {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.responsive-slider-parallax .pages .page {
  display: inline-block;
  color: transparent;
  width: 5px;
  height: 5px;
  border: 3px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.responsive-slider-parallax .pages .page.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
