//IMPORT 

@import "vendor/bootstrap.min";
@import "partials/navigation";
@import "modules/all";

@import url(http://fonts.googleapis.com/css?family=Raleway:300,200,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800);

//VARIABLES
//sidebar sistem
$sidebar-active: #080808;
$sidebar-active-border: #F04A5B; //#F17735;
$navbar-border: #E0E4E8;
$main-bg : #F0F0F0;
$dark-system: #745A90;
$dark-sidenav : #23232C;

//tiles
$dark-block: #383A41;
$orange-flat: #FF8756;
$green-flat: #87D37C;
$red-orange-flat: #EA6153;
$malibu-flat: #4AA3DF;
$red-danger: #EA6153;
$dark: #383A41;
$green-success: #19B698;
$orange-warning: #EAAD53;

//full colored tiles scheme 2
$orange-flat-2: #E47F55;

// STYLE START

html{
  background-color: $main-bg !important;
}

body{
  font-family: 'Open Sans', sans serif;
  font-size: 10pt;
}

h1, h2, h3, h4, h5{
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans serif;
  font-weight: 200;
}

.nav{
  font-family: 'Open Sans', sans serif;
  font-weight: 500;
}

.navbar-header{
  width: 100%;
  //height: 50px;
}

.navbar{
  margin-bottom: 0px;
}

.navbar-collapse{
  border: none;
  width: 100%;
  margin-top: -20px !important;
  max-height: none !important;
}

button.navbar-toggle{
  background-color: $orange-flat;
  border: none;
  margin-top: -45px;
}

.navbar-inverse{
  background: white !important;
  border-bottom: solid 1px $navbar-border;
}

.logo{
  h3{
    font-family: 'Raleway', sans serif;
    font-weight: 600;
  }
  position: absolute;
  width: 225px;
  height: 100%;
  background-color: #FF8756;
  color: white;
  //padding-top: 5px;
  padding-left: 20px;
}

.rotate{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: all .3s;
}

.top-nav{
  li{
    a{  
      img{
        margin-top: -5px;
      }
      i{
        position: relative;
        font-size: 12pt;
      }
      .bubble{
        background-color: #e44c34;
          border-color: #e23923 #d83722 #c0311e;
          border-left: 1px solid #d83722;
          border-radius: 3px;
          border-width: 1px;
          box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.25);
          color: #fff;
          font: bold 9px Tahoma;
          left: 23px;
          padding: 1px 3px 1px 2px;
          position: absolute;
          top: 7px;
      }
    }
  }

  .dropdown{
    a.dropdown-toggle{
      color: $dark;
      &:hover{
        //padding-bottom: 10px;
        background: none;
        color: #080808;
        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        transition: all 250ms ease;
      }
      &:focus{
        color: #080808 !important;        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        transition: all 250ms ease;background: none !important;
      }
    }
  }

  .dropdown.open{
    .dropdown-menu{
      margin-top: 10px;
      font-size: 9pt;
    }
    .dropdown-menu:before{
        background: url(../img/menu-tail-up2.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        content: "";
          display: inline-block;
          height: 43px;
          position: absolute;
          right: 10px;
          top: -10px;
          width: 17px;
      }
    @media screen and (max-width: 768px){
      .dropdown-menu:before{
        background: url(../img/menu-tail-up2.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        content: "";
          display: inline-block;
          height: 43px;
          position: absolute;
          right: auto;
          left: 10px;
          top: -10px;
          width: 17px;
      }
      .dropdown-menu.block-profile{
        margin-left: -150px;
        &:before{
          right: 60px !important;
          left: auto;
        }
      }
      .dropdown-menu.alert-dropdown{
        margin-left: -30px;
        &:before{
          left: 40px !important;
        }
      }
      .dropdown-menu.message-dropdown{
        margin-left: -50px;
      }
    }
  }
  .dropdown.profile.open{
    //padding-bottom: 10px;
    .dropdown-toggle{
      //padding-bottom: 10px;
    }
  }
  .dropdown.profile{
    img{
      margin-right: 5px;
      border-radius: 25px;
    }
  }
}

.side-nav{
  height: 100%;
  border: none;
  background-color: $dark-sidenav;
  //border-right: solid 1px rgba(255,255,255,.05);
  li{
    border-top: solid 1px rgba(255,255,255,.05);
    transition: all .5s !important;
    background-color: $dark-sidenav;
    a{
      &:hover{
        background-color: #202028 !important;
      }
    }
    ul > li{
      background: #18181F;
      transition: all .5s !important;
      border: none !important;
      &.active{
        border-left: solid 2px $orange-flat !important; 
        background-color: $sidebar-active !important;
        a{
          color: white !important;
        }
      }
      a{
        font-size: 8pt !important;
      }
    }
    &.active{
      border-left: solid 2px $orange-flat; 
      background-color: #1C1C25 !important;
    }
  }
  .profil-splash{
    padding: 15px;
    padding-bottom: 0px;
    width: 225px;
    height: 80px;
    color: white;
    .detail{
      float: right;
      max-width: 70%;
      h3{
        margin-top: 0px;
        margin-bottom: 0px !important;
        margin-left: -3px !important;
      }
    }
    small{
      font-size: 10pt !important;
    }
    img{
      border-radius: 25px;
      float: left;
      //display: inline;
    }
  }
}

.page-wrapper{
  background-color: $main-bg !important;
  width: 100% !important;
}

.block-profile{
  @extend .dropdown-menu;
  
  h4{
    font-weight: 600 !important;
  }

  width: 250px;
  .content{
    padding: 20px;
    ul.block-profile-control{
      padding-left: 0px;
      list-style-type: none;
      li{
        float: left;
        display: inline;
        margin-left: 22px;
        margin-right: 10px;
        margin-bottom: 20px;
        .fa{
          font-size: 15px !important;
        }
        a{
          text-decoration: none;
          color: $dark;
          .fa{ margin-right: 5px; }
          &:hover{
            color: $orange-flat;
            transition: all .2s;
          }
        }
      }
    }
  }
  .img-cover{
    img{
      width: 100%;
      height: 100px;
      border-radius: 0px !important;
    }
    overflow: hidden;
  }
  .img-profile{
    position: absolute;
    top: 75px;
    left: 40%;
    img{
      border-radius: 25px;
    }
  }
  padding: 0;
}
/* EOF NAV THINGS*/

/* TILE */

.tile{
  //overflow: hidden;
  .content{
    margin: 20px;
    font-weight: 300;
    h1, h2, h3, h4, h5{
      font-weight: 300;
      margin: 0px;
      margin-bottom: 20px;
      margin-top: 10px;
      small{
        font-weight: 400;
        font-size: 10pt;
      }
    }
  }
  //border: solid 1px $navbar-border;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 20px;
  a{
    clear: both;
      color: #fff;
      display: block;
      padding: 10px 20px;
      text-transform: uppercase;
      .fa{
        font-size: 14pt;
        opacity: .5;
      }
      &:hover{
        text-decoration: none;
        background-color: #222222;
      opacity: 0.9;
      transition: all .5s;
      }
    &.orange{
      background-color: $orange-flat;
    }
    &.green{
      background-color: $green-flat;
    }
    &.redor{
      background-color: $red-orange-flat;
    }
    &.malibu{
      background-color: $malibu-flat;
    }
  }
  padding-top: 5px;
}

.tile-colored-orange{
  background-color: #E47F55;
  color: white !important;
  small{
    color: white !important;
  }
  .content{
    a{
            &:hover{
        text-decoration: none;
        background-color: #222222;
      opacity: 1;
      transition: all .5s;
      }
    }
  }
}

.tile-colored-green{
  @extend .tile-colored-orange;
  background-color: #63C655;
}

.tile-colored-malibu{
  @extend .tile-colored-orange;
  background-color: #2592DA;
}

.tile-colored-redor{
  @extend .tile-colored-orange;
  background-color: #E64331;
}

/* END TILE */

/* PORTLET */

.portlet{
  background-color: white;
  padding: 20px;
  padding-top: 10px;
  border: solid 1px $navbar-border;
  margin-top: 10px;
  margin-bottom: 10px;
  
  .header{
    border-bottom: solid 1px rgba(0,0,0,.1);;
    margin-bottom: 20px;
    
  }

  .loading{
      background: none repeat scroll 0 0 rgba(255, 255, 255, .7);
        cursor: wait;
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        
        i{
          font-size: 26px;
          left: 50%;
          margin-left: -13px;
          margin-top: -13px;
          position: relative;
          top: 50%;
        }
    }

  .control{
    top: 35px;
    position: absolute;
    right: 40px;
    list-style-type: none;
    display: inline;
    li{
      float: right;
      margin-left: 10px;
      a{
        background: none;
        margin: 0px !important;
        padding: 0px !important;
        .fa{
          font-size: 9pt !important;
          color: #222;
        }
        &:hover{
          .fa{
            color: grey;
            transition: all .2s;
          }
        }
      }
    }
  }
}

.portlet-redor{
  background-color: $red-orange-flat;
  .header{
    border-bottom: solid 1px white;
    margin-bottom: 20px;
  }
}

.portlet-green{
  background-color: $green-success;
  .header{
    border-bottom: solid 1px white;
    margin-bottom: 20px;
  }
}

.portlet-malibu{
  background-color: $malibu-flat;
  .header{
    border-bottom: solid 1px white;
    margin-bottom: 20px;
  }
}

.portlet-orange{
  background-color: $orange-flat;
  .header{
    border-bottom: solid 1px white;
    margin-bottom: 20px;
  }
}

.portlet-warning{
  background-color: $orange-warning;
  .header{
    border-bottom: solid 1px white;
    margin-bottom: 20px;
  }
}

.portlet-blue{
  background-color: $malibu-flat;
  .header{
    border-bottom: solid 1px rgba(0,0,0,.1);;
    margin-bottom: 20px;
  }
}

.portlet-dark{
  background-color: $dark;
  .header{
    border-bottom: solid 1px rgba(0,0,0,.1);;
    margin-bottom: 20px;
  }
}

.portlet-redor, .portlet-green, .portlet-malibu, .portlet-orange, .portlet-warning, .portlet-blue, .portlet-dark{
  color: white;
  .control{
    li{
      a{
        .fa{
          font-size: 9pt !important;
          color: white;
        }
        &:hover{
          .fa{
            color: white;
            transition: all .2s;
          }
        }
      }
    }
  }
}

/* END PORTLET */

/* BLOCK FLAT */

.block-flat{
  .content{
    margin: 20px;
    font-weight: 300;
    h1, h2, h3, h4, h5{
      font-weight: 300;
      margin: 0px;
      margin-bottom: 20px;
      margin-top: 10px;
      small{
        font-weight: 400;
        font-size: 10pt;
      }
    }
  }
  //border: solid 1px $navbar-border;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 20px;
  padding-top: 5px;
  .header{
    h1, h2, h3, h4, h5{
      margin-bottom: 10px;
    }
    border-bottom: solid 1px rgba(0,0,0,.1);
    margin: 20px;
    margin-top: 27px;
    margin-bottom: 0px;
    //padding-top: 10px;
    //font-weight: 100;
    &.no-border{
      border-bottom: none !important;
    }
  }
  .content{
    padding-left: 0px !important;
    img{
      width: 100%;
    }
  }

  border-bottom: solid 2px #E2E2E2;

}

.block-flat-dark{
  @extend .block-flat;
  background-color: $dark-block;
  color: white !important;
  .header{
    h1, h2, h3, h4, h5{
        margin-top: 15px !important;
        margin-bottom: 10px;
      }
    border-bottom: solid 1px white;
    margin: 20px;
    margin-top: 27px;
    //font-weight: 100;
    &.no-border{
      border-bottom: none !important;
    }
  }
  border-bottom: solid 2px #E2E2E2;
}

/* END BLOCK FLAT */

/* TABBED PORTLETS */

.tab-portlet{
  @extend .tile;
  h1, h2, h3, h4, h5{
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: none;
  }
  overflow: visible;
  border: solid 1px $navbar-border;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  .title{
    clear: both;
      background-color: $dark-block;
      color: white !important;
      display: block;
      padding: 10px 20px;
      text-transform: uppercase;
      .fa{
        font-size: 14pt;
        opacity: .5;
      }
      .control{
      top: 22px;
      position: absolute;
      right: 40px;
      list-style-type: none;
      display: inline;
      li{
        float: right;
        margin-left: 10px;
        a{
          background: none;
          margin: 0px !important;
          padding: 0px !important;
          .fa{
            font-size: 9pt !important;
            color: #FFFF;
          }
          &:hover{
            .fa{
              color: #FFF;
              transition: all .2s;
            }
          }
        }
      }
    }
  }
  padding-top: 0px !important;
}

.tp-danger{
  .title{
    background-color: $red-danger;
  }
}
.tp-success{
  .title{
    background-color: $green-success;
  }
}
.tp-warning{
  .title{
    background-color: $orange-warning 
  }

}
.tp-info{
  .title{
    background-color: $malibu-flat;
  }
}

/* BUTTON */

.btn{
  margin-bottom: 5px;
}

.btn-default{
  background-color: white;
  border-radius: 2px;
  -moz-box-radius: 2px;
  color: $dark;
  &:hover{
    transition: all .2s;
  }
  border-bottom : solid 2px rgba(0,0,0,.2);
}

.btn-primary{
  @extend .btn-default;
  background-color: $malibu-flat;
  border: none;
  border-bottom: solid 2px #2E95DA;
  color: white;
}

.btn-success{
  @extend .btn-primary;
  background-color: $green-success;
  border-bottom: solid 2px #159D82;
  &:hover{
    background-color: #159D82;
  }
}

.btn-warning{
  @extend .btn-primary;
  background-color: $orange-warning;
  border-bottom: solid 2px #DA8D1B;
}

.btn-danger{
  @extend .btn-primary;
  background-color: $red-danger;
  border-bottom: solid 2px #BB2717;
}

.btn-group{
  .dropdown-menu{
    li{
      a{
        text-transform: none !important;
        font-size: 10pt;
      }
    }
  }
}

.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  border-left: solid 1px rgba(0,0,0,.08) !important;
}

/* FORMS */

label{
  font-family: 'Open Sans', sans serif;
  font-size: 10pt !important;
  font-weight: 600;
  margin-bottom: 10px;
}

input{
  border-radius: 0px !important;
}

.form-control{
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  box-shadow: none;
  color: black !important;
}

.form-group-dashed{
  border-bottom: dashed 1px #EFEFEF;
  padding-bottom: 20px;
}

/* TABS */

.nav-tabs{
  border-bottom: solid 1px white !important;
  li{
    a{
      &:hover{
        border: 0px;
        margin: 0px;
      }
      color: #585858;
    }
  }
  .dropdown{
    .dropdown-menu{
      li:active{
        background-color: $sidebar-active-border !important;
      }
    }
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-top: 2px solid #fc796b;
  border-radius: 0;
  -webkit-border-radius: 0;
  border-bottom: solid 1px white;
  padding-bottom: 10px;
  padding-top: 8px;
  //box-shadow: 1px -3px 4px -3px $sidebar-active-border;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  position: static;
  color: $sidebar-active-border;
}


.tab-content {
  background: #fff;
  padding: 20px;
  border-bottom: 2px solid #E2E2E2;
  border-left: 1px solid #ECECEC;
  border-radius: 0 3px 3px;
  -webkit-border-radius: 0 3px 3px;
  border-right: 1px solid #ECECEC;
  border-top: solid 1px white !important;
  //box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 40px;
  margin-top: -1px;
}

.panel{
  border-radius: 2px !important;
  border-bottom: solid 2px #E2E2E2;
  .panel-heading{
    background-color: white;
    border-bottom: none !important;
    padding-top: 20px;
    padding-bottom: 20px;
    .panel-title{
      .fa{
        margin-right: 10px;
      }
    }
  }
  .panel-body{
    border-top: none !important;
  }

}

/* ALERT */

.alert{
  h1,h2,h3,h4,h5{
    margin-bottom: 10px !important;
    font-weight: 600 !important;
  }
}

/* CHECKBOX AND RADIO */

.checkbox-inline{
  cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 20px;
    vertical-align: middle;
}

/* EOF CHECKBOX AND RADIO */

/* GRITTER */

#gritter-notice-wrapper {
    top: 60px;
    width: 320px;
}
.gritter-item-wrapper {
    /*background: url("../img/gritter-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
}
.gritter-top {
    background: none repeat scroll 0 0 transparent;
}
.gritter-item {
    background: none repeat scroll 0 0 transparent;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    padding: 2px 35px 12px 10px;
}
.gritter-bottom {
    background: none repeat scroll 0 0 transparent;
}
.gritter-item p {
    font-size: 12px;
    line-height: 19px;
}
.gritter-title {
    font-size: 17px;
    font-weight: 400;
    text-shadow: none;
}
.gritter-close {
    background: none repeat scroll 0 0 transparent;
    display: block !important;
    height: 30px;
    left: auto;
    right: 0;
    text-indent: inherit;
    top: 0;
    width: 35px;
}
.gritter-close:after {
    color: #fff;
    content: "×";
    font-size: 24px;
    font-weight: bold;
    left: 10px;
    position: absolute;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.gritter-without-image, .gritter-with-image {
    padding-left: 7px;
    width: 224px;
}
.gritter-item-wrapper.clean {
    background: none repeat scroll 0 0 #fff;
}
.gritter-item-wrapper.clean .gritter-item {
    color: #555;
}
.gritter-item-wrapper.clean .gritter-close {
    background-color: $malibu-flat !important;
    display: block !important;
    height: 100%;
    left: auto;
    right: 0;
    text-indent: inherit;
    top: 0;
    width: 35px;
}
.gritter-item-wrapper.clean .gritter-close:after {
    color: #fff;
    content: "×";
    font-size: 24px;
    font-weight: bold;
    left: 10px;
    margin-top: -17px;
    position: absolute;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
    top: 50%;
}
.gritter-image {
    height: auto;
    margin-top: 3px;
    max-height: 48px;
    max-width: 48px;
    width: auto;
}
.gritter-item-wrapper.facebook {
    background: none repeat scroll 0 0 #5d82d1;
}
.gritter-item-wrapper.facebook .gritter-item {
    color: #fff;
}
.gritter-item-wrapper.facebook .gritter-close {
    background-color: transparent;
    top: 5px;
}
.gritter-item-wrapper.twitter {
    background: none repeat scroll 0 0 #50bff5;
}
.gritter-item-wrapper.twitter .gritter-item {
    color: #fff;
}
.gritter-item-wrapper.twitter .gritter-close {
    background-color: transparent;
    top: 5px;
}
.gritter-item-wrapper.google-plus {
    background: none repeat scroll 0 0 #eb5e4c;
}
.gritter-item-wrapper.google-plus .gritter-item {
    color: #fff;
}
.gritter-item-wrapper.google-plus .gritter-close {
    background-color: transparent;
    top: 5px;
}
.gritter-item-wrapper.dribbble {
    background: none repeat scroll 0 0 #f7659c;
}
.gritter-item-wrapper.dribbble .gritter-item {
    color: #fff;
}
.gritter-item-wrapper.dribbble .gritter-close {
    background-color: transparent;
    top: 5px;
}
.gritter-item-wrapper.flickr {
    background: none repeat scroll 0 0 #0063dc;
}
.gritter-item-wrapper.flickr .gritter-item {
    color: #fff;
}
.gritter-item-wrapper.flickr .gritter-close {
    background-color: transparent;
    top: 5px;
}
.gritter-item-wrapper.linkedin {
    background: none repeat scroll 0 0 #238cc8;
}
.gritter-item-wrapper.linkedin .gritter-item {
    color: #fff;
}
.gritter-item-wrapper.linkedin .gritter-close {
    background-color: transparent;
    top: 5px;
}
.gritter-item-wrapper.youtube {
    background: none repeat scroll 0 0 #ef4e41;
}
.gritter-item-wrapper.youtube .gritter-item {
    color: #fff;
}
.gritter-item-wrapper.youtube .gritter-close {
    background-color: transparent;
    top: 5px;
}
.gritter-item-wrapper.pinterest {
    background: none repeat scroll 0 0 #e13138;
}
.gritter-item-wrapper.pinterest .gritter-item {
    color: #fff;
}
.gritter-item-wrapper.pinterest .gritter-close {
    background-color: transparent;
    top: 5px;
}
.gritter-item-wrapper.github {
    background: none repeat scroll 0 0 #333333;
}
.gritter-item-wrapper.github .gritter-item {
    color: #fff;
}
.gritter-item-wrapper.github .gritter-close {
    background-color: transparent;
    top: 5px;
}
.gritter-item-wrapper.tumblr {
    background: none repeat scroll 0 0 #426d9b;
}
.gritter-item-wrapper.tumblr .gritter-item {
    color: #fff;
}
.gritter-item-wrapper.tumblr .gritter-close {
    background-color: transparent;
    top: 5px;
}
.gritter-item-wrapper.primary {
    background: none repeat scroll 0 0 #7761a7;
}
.gritter-item-wrapper.success {
    background: none repeat scroll 0 0 #19b698;
}
.gritter-item-wrapper.info {
    background: none repeat scroll 0 0 #4aa3df;
}
.gritter-item-wrapper.warning {
    background: none repeat scroll 0 0 #f16e3f;
}
.gritter-item-wrapper.danger {
    background: none repeat scroll 0 0 #ea6153;
}
.gritter-item-wrapper.prusia {
    background: none repeat scroll 0 0 #3d566d;
}
.gritter-item-wrapper.dark {
    background: none repeat scroll 0 0 #23262b;
}

/* EOF GRITTER */

/* SIDE TABS */
.sidenav-menu{
  @extend .col-xs-3; 
  padding-right: 0px;
  .nav-stacked{
    li{
      a{
        padding-left: 20px;
        color: $dark;
        &:hover{
          color: $sidebar-active-border;
        }
      }
    }
    li.active{
      @extend .block-flat;
      background-color: white !important;
      border-radius: 0px;
      margin-bottom: 0px;
      border-left: solid 2px $sidebar-active-border;
      a{
        background-color: white;
        color: $sidebar-active-border;
        &:hover{
          color: $sidebar-active-border;
          background-color: white;
        }
      }
    }
  }
}

.sidenav-content{
  @extend .col-xs-9;
  @extend .block-flat;
  padding-left: 0px;
  h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }
  p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
}

.sidenav-content.tab-content{
  border-left: 0px;
  border-top: solid 1px #ECECEC !important;
}

.table{
  border: solid 1px #DDD;
}